.presentation {
  font-size: 48px;
  font-family: "Quicksand", sans-serif;
  letter-spacing: -3px;
  line-height: 4rem;
  margin-bottom: 2rem;
}

@media (max-width: 992px) {
  .presentation {
    font-size: 36px;
    line-height: 3rem;
  }
}
