.reactions {
  display: flex;
  align-items: center;
  user-select: none;

  &--small &__items-icon {
    font-size: 14px;
    margin-left: 0.075rem;
  }

  &--small &__items {
    font-size: 12px;
    margin-right: 0.75rem;
  }

  &__items {
    margin-right: 1.25rem;
    cursor: pointer;
  }

  &__items-icon {
    font-size: 1.25rem;
    margin-left: 0.25rem;
  }

  &__items-total {
    font-weight: 400;
  }
}
