@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

html,
body {
  margin: 0;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.my {
  &-title {
    font-family: "Quicksand", sans-serif !important;
    font-weight: bold !important;
    letter-spacing: -0.25rem !important;
  }
}
